<div class="big-card">
  <div class="row">
    <h2 class="text-center">Terms and Conditions</h2>
  </div>

  <p class="center terms">
    The Jeopardy! game show and all elements thereof, including but not limited to copyright and trademark thereto, are the property of Jeopardy Productions, Inc. and are protected under law. This website is not affiliated with, sponsored by, or operated by Jeopardy Productions, Inc.
  </p>

  <div class='hollow button go-back'>
    <%= link_to "Go Back", root_path %>
  </div>
</div>
