$white: #fefefe;
$green: #6FB981;
$red: #E55A51;

a {
  color: black;
}

button {
  font-family: "Josefin Sans";
  font-weight: 800;
}

h2 {
  text-align: center;
}

button {
  color: black;
  text-align: center;
  font-size: 20px;
}

.top-bar-right {
  padding-right: 120px;
}

.top-bar-link {
  font-size: 20px;
  display: inline-block;
  padding-right: 10px;
  padding-top: 5px;
}

.search {
  position: absolute;
  width: 40%;
  top: 5.5%;
  right: 2%;
  margin-top: 10px;
}

.card-divider {
  width: 250px;
  height: 170px;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  padding-bottom: 30px;
}

.card-section {
  text-align: center;
}

.paginate {
  text-align: center;
  margin: auto;
  background-color: #2A5F9F;
  color: $white;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: 800;
  margin-left: 18px;
  margin-right: 34px;
  margin-bottom: 45px;
}

.center {
  text-align: center;
}

.correct {
  color: green;
}

.wrong {
  color: $red;
}

.start {
  border-radius: 10px;
  margin-top: 12px;
}

.category {
  display: block;
  margin: 0 auto;
}

#myChart {
  margin: 0 auto;
}

.toggleQuizzes {
  position: absolute;
  top: 17px;
  right: 30px;
  font-size: 20px !important;
}

.wrongAnswer {
  background-color: $red;
}

.correctAnswer {
  background-color: $green;
}

.hidden {
  display: none;
}

#canvasParent {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#privacy {
  color: $white;
  position: absolute;
  left: 20px;
  margin-top: 12px;
  font-size: 18px !important;
}

#terms {
  color: $white;
  position: absolute;
  margin-left: 130px;
  margin-top: 12px;
  font-size: 18px !important;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #2A5F9F;
}

.category {
  font-weight: 800;
  font-size: 24px;
}

.hollow {
  color: black !important;
  font-size: 16px !important;
  border-width: 2px !important;
  border-color: $white !important;
}

.top-bar-title {
  margin-top: 25px;
}

.top-bar-title a {
    color: $white;
}

.answer {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin: 30px;
  font-size: 20px;
  border-radius: 10px;
}

.quizCategory {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.question {
  text-align: center;
  font-size: 26px;
}

.flash {
  color: #E55A51;
  font-size: 26px !important;
  margin-bottom: 10px;
}

.big-card {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  background-color: #FFCF00;
  margin: 0 auto;
}

.noQuizzes {
  color: #2A5F9F;
}

.timer {
  padding: 10px;
  background-color: #2A5F9F;
  font-size: 24px !important;
}

.found {
  width: 43% !important;
  margin-right: 61px;
}

.next {
  margin-left: 400px;
  margin-right: 80px;
}

.top-bar-link a {
  color: $white;
}

.input-group-label {
  font-size: 22px;
  color: $white;
  background-color: #2A5F9F;
}

label {
  font-size: 20px;
}
