$purple: #755F98;
$blue: #6D96D3;
$yellow: #F7CD7F;
$green: #30AD23;
$red: #DB0000;

h1, h2, h3, a, li {
  color: $yellow;
}

h2 {
  text-align: center;
}

button {
  color: $yellow;
  font-family: "Lemon";
  text-align: center;
  font-size: 20px;
}

.top-bar-right {
  padding-right: 15px;
}

.top-bar-link {
  font-size: 20px;
  display: inline-block;
  padding-right: 10px;
  padding-top: 5px;
}

.top-bar {
  margin-bottom: 15px;
}

.search {
  position: absolute;
  width: 26%;
  top: 8%;
  right: 2%;
}

.card-divider {
  width: 250px;
  height: 170px;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
}

.card-section {
  text-align: center;
}

.paginate {
  text-align: center;
  margin: auto;
  background-color: $purple;
  color: $yellow;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.correct {
  color: green;
}

.wrong {
  color: $red;
}

.start {
  border-radius: 10px;
  margin-top: 12px;
}

.category {
  display: block;
  margin: 0 auto;
}

#myChart {
  margin: 0 auto;
}

.toggleQuizzes {
  margin-bottom: 50px;
  margin-top: 15px;
}

.wrongAnswer {
  background-color: $red;
}

.correctAnswer {
  background-color: $green;
}
