$white: #fefefe;
$green: #6FB981;
$red: #E55A51;

body {
  margin-bottom: 50px;
  font-weight: 800 !important;
}

a {
  color: black;
}

button {
  font-family: "Josefin Sans";
  font-weight: 800;
}

.big-card p {
  color: black;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 800;
  color: black;
  text-align: center;
}

h3 {
  font-weight: 800;
  color: black;
}

button {
  color: black;
  text-align: center;
  font-size: 20px;
}

.top-bar-right {
  padding-right: 110px;
}

.top-bar-link {
  font-size: 20px;
  display: inline-block;
  padding-right: 10px;
  padding-top: 5px;
}

.search {
  position: absolute;
  width: 40%;
  top: 5.5%;
  right: 2%;
  margin-top: 10px;
}

.card-divider {
  width: 250px;
  height: 170px;
  border-radius: 35px;
}

.card {
  border-radius: 10px;
  padding-bottom: 30px;
}

.card-section {
  text-align: center;
}

.paginate {
  text-align: center;
  margin: auto;
  background-color: #2A5F9F;
  color: $white;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: 800;
  margin-left: 18px;
  margin-right: 34px;
  margin-bottom: 45px;
}

.center {
  text-align: center;
}

.correct {
  color: green;
}

.wrong {
  color: $red;
}

.start {
  border-radius: 10px;
  margin-top: 12px;
}

.category {
  display: block;
  margin: 0 auto;
}

#myChart {
  margin: 0 auto;
}

.toggleQuizzes {
  position: absolute;
  top: 17px;
  right: 30px;
  font-size: 20px !important;
  cursor: pointer;
}

.wrongAnswer {
  background-color: $red;
}

.correctAnswer {
  background-color: $green;
}

.hidden {
  display: none;
}

#canvasParent {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#privacy {
  color: $white;
  position: absolute;
  left: 20px;
  margin-top: 12px;
  font-size: 18px !important;
}

#terms {
  color: $white;
  position: absolute;
  margin-left: 130px;
  margin-top: 12px;
  font-size: 18px !important;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #2A5F9F;
  position: fixed;
  bottom: 0px;
}

.category {
  font-weight: 800;
  font-size: 24px;
}

[type='file'] {
  color: black;
}

.hollow {
  color: black !important;
  font-size: 16px !important;
  border-width: 2px !important;
  border-color: black !important;
}

.top-bar {
  margin-bottom: 10px;
}

.top-bar-title {
  margin-top: 25px;
}

.top-bar-title a {
    color: $white;
}

.answer {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin: 30px;
  font-size: 24px;
  border-radius: 10px;
}

.quizCategory {
  color: black;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.question {
  color: black;
  text-align: center;
  font-size: 26px;
}

.flash {
  color: #2A5F9F;
  font-size: 26px !important;
  margin-bottom: 10px;
}

.big-card {
  width: 80%;
  height: 100%;
  border-radius: 50px;
  background-color: #F9F401;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.noQuizzes {
  color: #2A5F9F;
}

.timer {
  padding: 10px;
  background-color: #2A5F9F;
  font-size: 36px !important;
  height: 80px;
  margin-bottom: 30px;
}

.seconds {
  color: $white !important;
  width: 150px;
  text-align: left;
  margin-left: 10px;
}

.found {
  width: 43% !important;
  margin-right: 61px;
}

.next {
  margin: 0 auto;
  margin-right: 15px;
  margin-left: 15px;
}

.top-bar-link a {
  color: $white;
}

.input-group-label {
  font-weight: 600;
  font-size: 26px;
  color: $white;
  background-color: #2A5F9F;
}

label {
  font-size: 20px;
}

.buttonWrapper {
  margin-top: -60px;
  text-align: center;
}

.card-section .row {
  height: 55px;
}

li {
  font-size: 20px !important;
  color: black;
  list-style: none;
}

.text-center {
  padding-top: 30px;
}

.go-back {
  margin-left: 30px;
  margin-bottom: 25px;
}

.button {
  border-radius: 10px;
}

.update {
  width: 150px;
  margin-right: 30px;
}

.delete {
  width: 150px;
  margin-left: 30px;
}

i {
  font-size: 20px;
}

em {
  font-size: 20px;
}

.end-o-game {
  text-align: center;
  padding-top: 30px;
}

.score {
  color: #2A5F9F !important;
  text-align: center;
  font-size: 200px;
}

.fa-twitter {
  color: #2A5F9F !important;
  font-size: 20px;
  font-size: 40px;
}

.twitter-share-button {
  font-size: 30px;
  margin-left: 255px;
  margin-bottom: 30px;
  display: inline-block;
}

.historyTitle {
  margin-bottom: 25px;
}

.history {
  font-size: 24px;
}

.interest {
  color: $white;
  font-size: 22px;
  padding: 20px;
}

.interest-button {
  margin-left: 488px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.terms {
  font-family: Helvetica, sans-serif;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

.privacy {
  font-family: Helvetica, sans-serif;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

.fix {
  position: absolute;
  left: 145px;
  bottom: 175px;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  font-weight: 600 !important;
  font-size: 24px !important;
  height: 50px;
}

.interestsTitle {
  margin-bottom: 40px;
}

.interestsBigTitle {
  margin-bottom: -10px;
}

.centerButtons {
  display: block;
  margin: 0 auto;
  font-family: "Josefin Sans";
  font-size: 22px;
  font-weight: 800;
  padding: 10px 33px;
}
